<section>
  <div class="ed-res-bg">
<div class="container com-sp pad-bot-70 ed-res-bg">
      <div class="row">
          <div class="cor about-sp">
              <div class="ed-rsear">
                  <div class="ed-rsear-in">
                      <ul>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-1.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Space Research with Nasa</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-1.png" alt=""></div>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-2.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Attention deficit disorder</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-2.png" alt=""></div>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-4.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Anorexia Nervosa</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-3.png" alt=""></div>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-5.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Internet Speed</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-4.png" alt=""></div>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-6.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Mobile Communications</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-5.png" alt=""></div>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-7.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Learning disabilities</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-6.png" alt=""></div>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-8.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Anorexia Nervosa</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-7.png" alt=""></div>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img">
                <img src="../assets/images/course/sm-3.jpg" alt="">
              </div>
              <div class="ed-rsear-dec">
                <h4><a [routerLink]="['/']">Internet Speed</a></h4>
                <a [routerLink]="['/']">Status <span>Success</span></a>
                <a [routerLink]="['/']">Duration <span>120 Days</span></a>
                <div class="ed-flag"><img src="../assets/images/icon/flag-8.png" alt=""></div>
              </div>
            </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="ed-about-sec1">
                  <div class="col-md-6"></div>
                  <div class="col-md-6"></div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
