<div class="sb2-2-3">
  <div class="row">
    <div class="col-md-12">
      <div class="box-inn-sp">
        <p>
          <input type="text" name="searchText" [(ngModel)]="searchText">
        </p>
        <div class="inn-title">
          <h4>Teacher Details</h4>
          <p>All about students like name, student id, phone, email, country, city and more</p>
        </div>
        <div class="tab-inn">
          <div class="table-responsive table-desi">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <!-- <th>Country</th> -->
                  <th>Id</th>
                  <th>Date of birth</th>
                  <th>Status</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let teacher of teacherList | adminSearch:searchText:'teacher'">
                  <td>
                    <span class="list-img"> <img src="{{'data:image/jpg;base64,' + teacher.imgSrc}}" /></span>
                  </td>
                  <td>
                    <span class="list-enq-name">{{teacher.teacherFirstName}} {{teacher.teacherLastName}}</span>
                    <span class="list-enq-city">{{teacher.city}},{{teacher.country}}</span>
                  </td>
                  <td>{{teacher.mobileNo}}</td>
                  <td>{{teacher.teacherEmail}}</td>
                  <!-- <td>{{teacher.country}}</td> -->
                  <td>{{teacher.teacherId}}</td>
                  <td>{{teacher.dob | date:'dd MMM yy'}}</td>
                  <td>
                    <span class="label label-success">{{teacher.status?'Active':'In Active'}}</span>
                  </td>
                  <td>
                      
                      <a  [routerLink]="['/admin/teacher/edit-teacher',teacher._id]" routerLinkActve="active" class="ad-st-view">View</a>
                      <!-- <a routerLink="'./teacher/edit-teacher'+teacher._id" routerLinkActve="active" class="ad-st-view">View</a> -->
                    <!-- <span class="btn btn-primary" (click)="updateProfile(teacher)">Update</span> -->
                  </td>
                  <!-- <td><span class="btn btn-danger" (click)="deleteProfile(teacher)">Delete</span></td> -->

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
