<section>
  <div class="ed-res-bg">
<div class="container com-sp pad-bot-70 ed-res-bg">
      <div class="row">
          <div class="cor about-sp">
              <div class="ed-rsear">
                  <div class="ed-rsear-in">
                      <ul>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/1.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Design and Technology Suite</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/2.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Science Laboratories</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/3.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Multi-Purpose Sports Hall</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/4.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Design and Technology Suite</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/5.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Music Suites and En-suite Practice Rooms</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/6.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Workshop Technology Suite</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/7.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Medical Room</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/8.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Indoor and Outdoor Eating Areas</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/9.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Recreational Areas</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                          <li>
            <div class="ed-rese-grid">
              <div class="ed-rsear-img ed-faci-full-top">
                <img src="../assets/imagesfacilities/10.jpg" alt="">
              </div>
              <div class="ed-rsear-dec ed-faci-full-bot">
                <h4><a [routerLink]="['/facilities-detail']">Drama Studio</a></h4>
                <p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students the potential to explore a variety of design </p>
                <a [routerLink]="['/facilities-detail']" class="read-line-btn">Read more</a>
              </div>
            </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="ed-about-sec1">
                  <div class="col-md-6"></div>
                  <div class="col-md-6"></div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
