<section>
  <div class="ed-res-bg">
<div class="container com-sp pad-bot-70 ed-res-bg">
      <div class="row">
          <div class="cor about-sp h-gal ed-pho-gal">
    <ul>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/8.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/9.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/10.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/11.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/1.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/2.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/3.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/4.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/5.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/6.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/7.jpg" alt="">
      </li>
      <li><img class="materialboxed" data-caption="Education master image captions" src="../assets/images/ami/8.jpg" alt="">
      </li>
    </ul>
          </div>
      </div>
  </div>
</div>
</section>
