<div class="col-md-9">
  <div class="udb">

    <div class="udb-sec udb-prof">
      <h4><img src="images/icon/db1.png" alt=""> My Profile</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
        to using 'Content here, content here', making it look like readable English.</p>
      <div class="sdb-tabl-com sdb-pro-table">
        <table class="responsive-table bordered">
          <tbody>
          <tr>
            <td>Student Name</td>
            <td>:</td>
            <td>{{teacher.teacherFirstName}} {{teacher.teacherLastName}}</td>
          </tr>
          <tr>
            <td>Student Id</td>
            <td>:</td>
            <td>{{teacher._id}}</td>
          </tr>
          <tr>
            <td>Eamil</td>
            <td>:</td>
            <td>{{teacher.teacherEmail}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>:</td>
            <td>{{teacher.mobileNo}}</td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td>:</td>
            <td>{{teacher.dob}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td>{{teacher.address}} {{teacher.city}}{{teacher.state}}{{teacher.country}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>:</td>
            <td><span class="db-done">{{teacher.status}}</span> </td>
          </tr>
          </tbody>
        </table>
        <div class="sdb-bot-edit">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
          <a [routerLink]="['/']" class="waves-effect waves-light btn-large sdb-btn sdb-btn-edit">edit my profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
