<section>
  <div class="pro-cover">
  </div>
  <div class="pro-menu">
      <div class="container">
          <div class="col-md-9 col-md-offset-3">
              <ul>
                  <li><a [routerLink]="['/dashboard']">My Dashboard</a></li>
                  <li><a [routerLink]="['/profile']" class="pro-act">Profile</a></li>
                  <li><a [routerLink]="['/courses']">Courses</a></li>
                  <li><a [routerLink]="['/exams']">Exams</a></li>
                  <li><a [routerLink]="['/timeline']">Time Line</a></li>
                  <li><a [routerLink]="['/']">Entry</a></li>
                  <li><a [routerLink]="['/']">Notifications</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="stu-db">
      <div class="container pg-inn">
          <div class="col-md-3">
              <div class="pro-user">
                  <img src="../assets/images/user.jpg" alt="user">
              </div>
              <div class="pro-user-bio">
                  <ul>
                      <li>
                          <h4>Emily Jessica</h4>
                      </li>
                      <li>Student Id: ST17241</li>
                      <li><a href="#!"><i class="fa fa-facebook"></i> Facebook: my sample</a></li>
                      <li><a href="#!"><i class="fa fa-google-plus"></i> Google: my sample</a></li>
                      <li><a href="#!"><i class="fa fa-twitter"></i> Twitter: my sample</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-9">
              <div class="udb">

                  <div class="udb-sec udb-prof">
                      <h4><img src="../assets/images/icon/db1.png" alt="" /> My Profile</h4>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                          to using 'Content here, content here', making it look like readable English.</p>
                      <div class="sdb-tabl-com sdb-pro-table">
                          <table class="responsive-table bordered">
                              <tbody>
                                  <tr>
                                      <td>Student Name</td>
                                      <td>:</td>
                                      <td>Sam Anderson</td>
                                  </tr>
                                  <tr>
                                      <td>Student Id</td>
                                      <td>:</td>
                                      <td>ST17241</td>
                                  </tr>
                                  <tr>
                                      <td>Eamil</td>
                                      <td>:</td>
                                      <td>sam_anderson@gmail.com</td>
                                  </tr>
                                  <tr>
                                      <td>Phone</td>
                                      <td>:</td>
                                      <td>+01 4561 3214</td>
                                  </tr>
                                  <tr>
                                      <td>Date of birth</td>
                                      <td>:</td>
                                      <td>03 Jun 1990</td>
                                  </tr>
                                  <tr>
                                      <td>Address</td>
                                      <td>:</td>
                                      <td>8800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</td>
                                  </tr>
                                  <tr>
                                      <td>Status</td>
                                      <td>:</td>
                                      <td><span class="db-done">Active</span> </td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="sdb-bot-edit">
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                              <a [routerLink]="['/']" class="waves-effect waves-light btn-large sdb-btn sdb-btn-edit"><i class="fa fa-pencil"></i> Edit my profile</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
