<div class="container">
  <div class="row">
    <div class="wed-hom-ser">
      <ul>
        <li>
          <a [routerLink]="['/awards']" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img
              src="../assets/images/icon/h-ic1.png" alt=""> Academy</a>
        </li>
        <li>
          <a [routerLink]="['/admission']" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img
              src="../assets/images/icon/h-ic2.png" alt=""> Admission</a>
        </li>
        <li>
          <a [routerLink]="['/all-courses']" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img
              src="../assets/images/icon/h-ic4.png" alt=""> Courses</a>
        </li>
        <li>
          <a [routerLink]="['/seminar']" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img
              src="../assets/images/icon/h-ic3.png" alt=""> Seminar</a>
        </li>
      </ul>
    </div>
  </div>
</div>
