    <!--SECTION START-->
    <section>
      <div class="pro-cover">
      </div>
      <div class="pro-menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
              <ul>
                <li><a routerLink="./" routerLinkActve="active" class="pro-act">My Dashboard</a></li>
                <li><a routerLink="./profile" routerLinkActve="active">Profile</a></li>
                <li><a routerLink="./course" routerLinkActve="active">Courses</a></li>
                <li><a routerLink="./exam" routerLinkActve="active">Exams</a></li>
                <li><a routerLink="./timeline" routerLinkActve="active">Time Line</a></li>
                <li><a routerLink="./entry" routerLinkActve="active">Entry</a></li>
                <li><a routerLink="./notification" routerLinkActve="active">Notifications</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="stu-db">
        <div class="container pg-inn">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="pro-user">
                <img src="../../assets/images/user.jpg" alt="user">
              </div>
              <div class="pro-user-bio">
                <ul>
                  <li>
                    <h4>Emily Jessica</h4>
                  </li>
                  <li>Student Id: ST17241</li>
                  <li><a href="#!"><i class="fa fa-facebook"></i> Facebook: my sample</a></li>
                  <li><a href="#!"><i class="fa fa-google-plus"></i> Google: my sample</a></li>
                  <li><a href="#!"><i class="fa fa-twitter"></i> Twitter: my sample</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
              <!-- place holder -->
              <router-outlet></router-outlet>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!--SECTION END-->
