  <!--banner section-->
  <section>
    <es-banner>loading...</es-banner>
  </section>
  <!--banner section-->

  <!-- QUICK LINKS -->
  <section>
    <es-quick-links>...</es-quick-links>
  </section>
  <!-- QUICK LINKS -->

  <!-- DISCOVER MORE -->
  <section>
    <es-discover-more></es-discover-more>
  </section>
  <!-- DISCOVER MORE -->

  <section>
    <es-popular-courses></es-popular-courses>
  </section>

  <section>
    <es-happenings></es-happenings>
  </section>

  <section>
    <es-news-events></es-news-events>
  </section>
